# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [28]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys

# Passo 1: Pegar a cotação das moedas e ouro
url = 'https://www.google.com.br/'
navegador = webdriver.Chrome()
navegador.get(url)
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dolar')
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
display(cotacao_dolar)

navegador.get(url)
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
display(cotacao_euro)

url = 'https://www.melhorcambio.com/ouro-hoje'
navegador.get(url)
cotacao_ouro = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value').replace(',', '.')
display(cotacao_ouro)

navegador.quit()

'5.2443'

'5.3412'

'292.78'

### Agora vamos atualiza a nossa base de preços com as novas cotações

In [29]:
# Passo 2: Atualizar a base de dados
import pandas as pd

tabela = pd.read_excel(r'C:\Users\beck_\OneDrive\Documents\eclipse-workspace\python_intensivao01\export\Produtos.xlsx')
tabela.loc[tabela['Moeda'] == 'Dólar', 'Cotação'] = float(cotacao_dolar)
tabela.loc[tabela['Moeda'] == 'Euro', 'Cotação'] = float(cotacao_euro)
tabela.loc[tabela['Moeda'] == 'Ouro', 'Cotação'] = float(cotacao_ouro)

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.2443,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.3412,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.2443,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.2443,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.3412,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.2443,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,292.7800,7000.00,1.15,8050.000

### Atualizando os preços e o cálculo do Preço Final

In [30]:
# Passo 3: Recalcular valores
tabela['Preço de Compra'] = tabela['Preço Original'] * tabela['Cotação']
tabela['Preço de Venda'] = tabela['Preço de Compra'] * tabela['Margem']

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.2443,5244.247557,1.40,7341.946580
1,Carro Renault,4500.00,Euro,5.3412,24035.400000,2.00,48070.800000
2,Notebook Dell,899.99,Dólar,5.2443,4719.817557,1.70,8023.689847
3,IPhone,799.00,Dólar,5.2443,4190.195700,1.70,7123.332690
4,Carro Fiat,3000.00,Euro,5.3412,16023.600000,1.90,30444.840000
5,Celular Xiaomi,480.48,Dólar,5.2443,2519.781264,2.00,5039.562528
6,Joia 20g,20.00,Ouro,292.7800,5855.600000,1.15,6733.940000

### Agora vamos exportar a nova base de preços atualizada

In [31]:
# Passo 4: Salvar base de dados atualizada
tabela.to_excel(r'C:\Users\beck_\OneDrive\Documents\eclipse-workspace\python_intensivao01\export\Produtos_atualizado.xlsx', index=False)